EventManagementProject/force-app/main/default/flows/Registration_Flow1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends an email notification to the attendee upon successful registration.</description>
        <name>Send_Successful_Registration_Email</name>
        <label>Send Successful Registration Email</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>Registration__c.Registration_Status</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_Registration_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObjectRowId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Registration__c.Registration_Status</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Waiting_list_email</name>
        <label>Waiting list email</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>Registration__c.Waiting_list_email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_Registeration_id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObjectRowId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Registration__c.Waiting_list_email</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Registeration_id</name>
        <label>Assign Registeration id</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>SObjectRowId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Waiting_list_email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Registration_ID</name>
        <label>Assign Registration ID</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>SObjectRowId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_Successful_Registration_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Waiting_list_email</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Registration Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Registration Flow1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Successful_Registration_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Registration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>confirmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>Registration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SObjectRowId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegistrationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
